// _functions.scss
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
 
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
@function fs($key) {
  @if map-has-key($fs, $key) {
    @return map-get($fs, $key);
  }
 
  @warn "Unknown `#{$key}` in $fs.";
  @return null;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin transition($duration) {
  transition: all $duration ease;
}

@mixin full-height($adj) {
  min-height: calc(100vh - #{$adj});
}