<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav top-nav">
        <li ng-repeat="c in crumbs" ui-sref-active="active">
          <a href ui-sref="{{c.link}}">{{ c.title }}</a>
          <span ng-if="!$last" class="glyphicon glyphicon-chevron-right"></span>
        </li>
      </ul>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      
    </div>
  </div>
</div>
