<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <span class="label label-default">Latitude</span>
      <input type="text" name="latitude" id="inputLatitude" class="form-control"  title="Latitude" ng-model='lat'>
      
      <span class="label label-default">Longitude</span>
      <input type="text" name="latitude" id="inputLongitude" class="form-control"  title="Longitude" ng-model='lng'>
      
      <span class="label label-default">Zoom</span>
      <input type="text" name="latitude" id="inputZoom" class="form-control"  title="Zoom" ng-model='zoom'> -->

      <select name="pref1" id="inputPref1" class="form-control" required="required" ng-model='pref1'>
        <option ng-repeat="comm in communities">{{comm}}</option>
      </select>
      <select name="pref2" id="inputPref2" class="form-control" required="required" ng-model='pref2'>
        <option ng-repeat="comm in communities">{{comm}}</option>
      </select>
      <select name="pref3" id="inputPref3" class="form-control" required="required" ng-model='pref3'>
        <option ng-repeat="comm in communities">{{comm}}</option>
      </select>
      <button ng-click='getReco()'>Update</button>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>
        <div class="col-md-12">
          <h2>Reco list</h2>
        </div>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
