$pins: 10;
#find-page {
  padding: 0;
  position: relative;
  height: calc(100% - 100px);
  .marker-labels {
    padding: 5px;
  }
  aside
  {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    background: #5c4459;
    display: inline-block;
    .controls, .list {
      max-height: 100%;
    }
    .controls {
      display: inline-block;
      
      width: 100%;
      height: 100%;
      a {
        margin: 0 auto;
        display: block;
        width: 150px;
      }
      &.collapse {
        width: 5%;
        float: left;
        .user-controls {
          display: none;
        }
        .back {
          height: 100%;
          background: #5c4459;
          padding: 10px 0;
          color: white;
          cursor: pointer;
          span {
            position: absolute;
            margin-top: 55%;
            width: 5%;
            text-align: center;
          }
          &:hover {
            background: lighten(#5c4459, 10%);
          }
        }
      }
    }
    .list {
      display: none;
      color: white;
      background: #4D394B;
      overflow: auto;
      &.expand {
        display: inline-block;
        width: 95%;
        float: left;
      }
      .result {
        padding: 5px 10px;
        cursor: pointer;
        border-bottom: 1px solid darken(color(primary), 15%);
        &:hover, &.active {
          background: lighten(#4D394B, 15%);
        }
        h4 {
          font-weight: bold;
        }
        .address {
          color: color(headPrimary);
          font-size: fs(tertiary);
        }
        .checkin {
          float: right;
          margin-right: 15px;
          span {
            color: color(headPrimary);
          }
        }
      }
      .filters {
        border-bottom: 1px solid darken(color(primary), 10%);
        padding: 10px;
        position: absolute;
        width: calc(95% - 15px);
        z-index: 999;
        background: lighten(color(secondary), 10%);
        height: 65px;
        .filter-row {
          display: block;
          margin-bottom: 5px;
          &:last-child {
            span:last-child {
              float: left;
            }
          }
          span:last-child {
            float: right;
          }
        }
        span {
          margin-right: 10px;
          .cust-slider {
            display: inline-block;
            width: 100px;
            margin-left: 10px;
            .slider {
              width: 100%;
              .slider-handle {
                background: color(primary);
                opacity: 1;
              }
            }
          }
        }
      }
      .result-list {
        margin-top: 65px;
        h4 {
          span.title {
            width: 90%;
          }
          span.price {
            padding-right: 15px;
            float: right;
            display: inline-block;
            width: 10%;
            text-align: right;
          }
        }
        
      }
    }
    svg {
      background: #5c4459;
      text {
        fill: white;
      }
    }
  }
  .content {
    position: absolute;
    width: 65%;
    height: 100%;
    top: 0;
    left: 35%;
    padding: 0;
    display: inline-block;
    div.row, div[class^="col"], .angular-google-map, .angular-google-map-container {
      height: 100%;
    }
    .pin {
      width: 30px;
      height: 30px;
      border-radius: 50% 50% 50% 0;
      background: lighten(color(secondary), 10%);
      color: color(primary);
      font-weight: bold;
      border: 5px solid lighten(color(primary), 10%);
      text-align: center;
      line-height: 20px;
      margin: -20px 0 0 -20px;
      animation: pulse 1s ease;
    }
    
  }
}
/* ANIMATIONS */
@keyframes pulse {
  40% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* Angular Animations */
/* .repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
} */

span.green {
  color: #27ae60;
  font-size: 18px;
  font-weight: bold;
}