<div ng-include="'components/navbar/navbar.html'"></div>

<div id="find-page" class="container">
  <aside>
    <weight-polygon weight="weight"></weight-polygon>
    <button class="btn btn-primary" ng-click='getReco()'>Update</button>
    <div class="col-md-12">
      <h2>Reco list</h2>
      <div class="row" ng-repeat="r in results | limitTo: limit">
        <div class="col-md-12 text-left">
          <h4>{{ r.name }}</h4>
          <p>{{ r.full_address }}</p>
          <p>Ratings: {{ r.stars }}</p>
        </div>
      </div>
    </div>
  </aside>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
          <ui-gmap-markers models="markers" coords="'coords'" icon="'icon'" options="'options'" click="'onClick'">
            <ui-gmap-windows show="show">
              <div ng-non-bindable>
                {{misc.title}} - {{misc.name}}
              </div>
            </ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
