<div ng-include="'components/navbar/navbar.html'"></div>

<div id="find-page" class="container">
  <aside>
    <div class="controls" ng-class="collapse ? 'collapse' : ''">
      <div class="user-controls">
        <weight-polygon weight="weight"></weight-polygon>
        <a class="btn btn-primary" ng-click='getReco()'>Find me food!</a>
      </div>
      <div class="back" ng-click="toggleCollapse()" ng-show="collapse">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>
    </div>
    <div class="list" ng-class="collapse ? 'expand' : ''">
      <div class="filters">
        <div class="filter-row">
          <span>
            Checkin:&nbsp;
            <slider ng-model="checkinSliderValue" min="0" step="5" max="sliders.checkin.max" value="0" class="cust-slider"></slider>
          </span>
          <span>
            Rating:&nbsp;
            <slider ng-model="ratingSliderValue" min="0" step="0.5" max="sliders.rating.max" value="0" class="cust-slider"></slider>
          </span>
        </div>
      </div>
      <div class="result-list">
        <div class="result repeat-item" ng-repeat="r in filteredResults track by r._id" ng-mouseenter="highlight($index, r.latitude, r.longitude)" ng-mouseleave="reset($index)" ng-click="showFrame(r)" ng-class="{active : isSelected(r)}">
          <h4>{{ $index + 1 }}. {{ r.name }}</h4>
          <p class="address">{{ r.full_address }}</p>
          <p>
            <star-rating stars="r.stars"></star-rating>
            <span class="checkin" ng-if="r.checkin_count">
              <span class="glyphicon glyphicon-user"></span>&nbsp;
             {{r.checkin_count}}
            </span>
          </p>
        </div>
      </div>
    </div>
    <detail-frame model="model" reviews="reviews"></detail-frame>
  </aside>
  <div class="content">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' pan='true'>
      <ui-gmap-markers models="filteredMarkers" coords="'coords'" icon="'icon'" options="'options'" click="'onClick'" doRebuildAll="true">
        <!-- <ui-gmap-windows show="show" class="window">
          <div ng-non-bindable>{{misc.title}}</div>
        </ui-gmap-windows> -->
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
